# API connection
PORT = 3000

# Database connection
DB_HOST = localhost
DB_USERNAME = root
DB_PASSWORD = root
DB_PORT = 3306
DB_NAME = testtable
DIALECT = mysql
INIT_DB = false

# Mail connection
FROM_MAIL = admin@gmail.com
MAIL_HOST = smtp.mailtrap.io
MAIL_PORT = 2525
MAIL_USER = 
MAIL_PASS = 

# Hash Generation
PASS_ENCRYPTION = sha256
SECRET_KEY = 

# Logger Configurations
TIME_FORMAT = YYYY-MM-DD-HH
MAX_SIZE = 20m
LOG_LEVEL = info
FILE_NAME = usercrud.log
FOLDER_NAME = logfiles